body[data-color="grey"] #wrapper {
	background-color: #444444 !important;
}

#header {
    box-shadow: 0 1px 0 #333333 !important;
	background-color: #333333 !important;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#3F3F3F), to(#222222)) !important;
    background-image: -webkit-linear-gradient(top, #3F3F3F 0%, #222222 100%) !important;
    background-image: -moz-linear-gradient(top, #3F3F3F 0%, #222222 100%) !important;
	background-image: -ms-linear-gradient(top, #3F3F3F 0%, #222222 100%) !important;
	background-image: -o-linear-gradient(top, #3F3F3F 0%, #222222 100%) !important;
	background-image: linear-gradient(top, #3F3F3F 0%, #222222 100%) !important;
    border-bottom: 1px solid #555555 !important;
}

#search input[type=text], #search button {
	background-color: #222222 !important;
}
#search input[type=text]:focus {
	color: #777777 !important;
}

#sidebar > ul {
	border-top: 1px solid #393939 !important;
	border-bottom: 1px solid #4E4E4E !important;
}
#sidebar > ul > li {
	border-top: 1px solid #4E4E4E !important;
	border-bottom: 1px solid #393939 !important;
}
#sidebar > ul > li.active {
    background-color: #3a3a3a !important;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#333333), to(#3F3F3F)) !important;
	background-image: -webkit-linear-gradient(top, #333333 0%, #3F3F3F 100%) !important;
	background-image: -moz-linear-gradient(top, #333333 0%, #3F3F3F 100%) !important;
	background-image: -ms-linear-gradient(top, #333333 0%, #3F3F3F 100%) !important;
	background-image: -o-linear-gradient(top, #333333 0%, #3F3F3F 100%) !important;
	background-image: linear-gradient(top, #333333 0%, #3F3F3F 100%) !important;
}

#sidebar > ul > li.open.submenu > a {
	border-bottom: 1px solid #393939 !important;
}
#sidebar > ul > li.open.active.submenu > a {
	border-bottom: 1px solid #2A2A2A !important;
}
#sidebar > ul > li > a > .label {
	background-color: #333333 !important;
}
#sidebar > ul > li > a:hover {
	background-color: #4A4A4A !important;
}
#sidebar > ul ul {
	border-top: 1px solid #4E4E4E !important;
	background-color: #2A2A2A !important;
}
#sidebar > ul ul li a {
	border-top: 1px solid #333333 !important;
	border-bottom: 1px solid #202020 !important;
}
#sidebar > ul ul li a:hover, #sidebar > ul ul li.active a {
	color: #CCCCCC !important;
	background-color: #272727 !important;
}

.dropdown-menu li a:hover, .dropdown-menu .active a, .dropdown-menu .active a:hover {
    color: #eeeeee;
	background-color: #444444 !important;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, #555555, #222222) !important;
    background-image: -webkit-linear-gradient(top, #555555 0%, #222222 100%) !important;
    background-image: -moz-linear-gradient(top, #555555 0%, #222222 100%) !important;
    background-image: -ms-linear-gradient(top, #555555 0%, #222222 100%) !important;
    background-image: -o-linear-gradient(top, #555555 0%, #222222 100%) !important;
    background-image: linear-gradient(top, #555555 0%, #222222 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=0 ) !important; /* IE6-9 */
}

@media (max-width: 480px) {
	#sidebar > a {
		background-image: -moz-linear-gradient(top, #464646 0%, #404040 100%) !important;
		border-bottom: 1px solid #6e6e6e !important;
	}
	#sidebar > ul {
		background-color: #444444 !important;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	#sidebar > ul ul:before {
		border-right: 7px solid rgba(0, 0, 0, 0.2) !important;
	}
	#sidebar > ul ul:after {
		border-right: 6px solid #222222 !important;
    }
}
